body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.donate-box {
display: flex;
}
.food-set{
background-color: rgba(79, 157, 166, .1);
}

.shelter-set{
    background-color:rgba(255, 89, 89,.1);
}
.education-set {
    background-color: #FFF4D6;

}


.start-title {
    text-align: center;
    color: white;
    background-image: url(images/section\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
}

.lives {
    display: flex;
}

.lives-image { 
    width: 70%;
    height: 80%;
    padding: 10%
}

.lives-font {
    margin: 5% 2% 5% 5%;
    padding: 5% 2% 5% 5%;
}

.link-font h2 {
    font-family: inherit;
    font-size: 45px;
}
.survive {
    display: flex;
}
.survive-image{
    width: 130%;
    height: 80%;
    margin: 10%;
    padding: 20%;
}
.survive-link-color {
    background-color: #FF5959;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.survive-font{
    margin: 5% 10% 10% 20%;
}
.survive-font h2 {
    font-family: inherit;
    font-size: 45px;
}
.updates{
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;

}
.updates h1 {
    font-family:inherit;
}
.updates p {
    margin: 0% 30% 5% 30%
}
h1 {
    font-family: inter;
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

form {
    background-color: #FFF4D6;
    border-radius: 12px;
    padding: 100px;
    margin: 10px 250px 100px 300px;
}
.form-set{
    margin: 5%;
}
#email-set
{
    background-color: #D9D9D9;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
}
#subcribe
{
    position:relative;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FF5959;
    color: white;
}

.donate-section2 {
    text-align: center;
    margin: 100px;
}

.amount-select {
    display: flex;
    text-align: center;
}

.margin-set {
    margin: 10px;
    padding: 5px;
}

.footer-design {
    text-align: center;
    background-color: black;
}
#footer-text{
    color: #FF5959;
    
}
.footer-font {
text-align: center;
background-color: black;
padding: 2%;
}
.footer-margin {
    padding: 2%;
}
#footer-last {
    color: white;
}